mixin copyright()
	.copyright&attributes(attributes)
		._container
			._text © <span class="year"></span>. Индивидуальный предприниматель Руденко Александр Валерьевич, ИНН 111111111, КПП 222222222, ОГРН 3333333333