mixin help()
	.help&attributes(attributes)
		img._icon(src="assets/images/help.png" alt="")
		._popup
			img._pointer(src="assets/images/help-pointer.png" alt="")
			p._text Формат указан по формуле «Ширина х Высота». Формат указан итоговый — обрезной. Формат файла вашего макета должен минимум на 2 мм по каждой из сторон превышать формат итоговый, т.е. он должен быть дообрезным. Таким образом, если нужна визитка форматом 90х50 мм, то формат файла должен быть минимум 94х54 мм. Подробнее о допечатной подготовке — в документе «Требования к файлам».