mixin about()
	.about&attributes(attributes)
		._container
			._col
				+title('о студии')(class="about__title")
				video._video(poster="assets/images/poster.jpg" controls)
				p._desc Основным направлением нашей типографии является срочная печать полноцветной продукции и изготовление книг в мягком переплете.
				p._text За время своей деятельности типография "Тираж" собрала коллектив профессионалов, имеющих опыт по созданию различной полиграфической продукции. Организация постоянно расширяет свою производственную и техническую базу. Мы используем современное оборудование и программное обеспечение, которое позволяет качественно, оперативно и эффективно взаимодействовать с клиентами и выпускать продукцию высокого качества.
				a._more(href="about.html") Читать подробнее
		+map()