mixin payment()
	.payment&attributes(attributes)
		._title Online-оплата
		._list
			img._item(src="assets/images/payment/visa.png" alt="")
			img._item(src="assets/images/payment/mastercard.png" alt="")
			img._item(src="assets/images/payment/sberbank.png" alt="")