mixin catalog-nav()
	.catalog-nav&attributes(attributes)
		._container
			a._link(href="catalog.html") визитки
			a._link(href="catalog.html") листовки и буклеты
			a._link(href="catalog.html") каталоги и брошюры
			a._link(href="catalog.html") книжная продукция
			a._link(href="catalog.html") календари
			a._link(href="catalog.html") сувенирная продукция
			a._link(href="catalog.html") фотоальбомы и дипломы
			a._link(href="catalog.html") пластиковые карты