mixin nav()
	nav.nav&attributes(attributes)
		a._link(href="index.html") Главная
		a._link(href="about.html") О студии
		a._link(href="news.html") Новости
		a._link(href="calculation.html") Расчет стоимости
		a._link(href="shipping.html") Оплата и доставка
		a._link(href="portfolio.html") Портфолио
		a._link(href="contacts.html") Контакты