mixin catalog()
	.catalog&attributes(attributes)
		._container
			a._link(href="#")
				._icon-wrap
					img._icon(src="assets/images/catalog/1.png" alt="")
				._name визитки
				._desc Цифровая печать<br>Фольгирование и тиснение
			a._link(href="#")
				._icon-wrap
					img._icon(src="assets/images/catalog/2.png" alt="")
				._name листовки и буклеты
				._desc Листовки, флаера и буклеты<br>Плакаты А4 и А3
			a._link(href="#")
				._icon-wrap
					img._icon(src="assets/images/catalog/3.png" alt="")
				._name каталоги и брошюры
				._desc Презентационный материал<br>Ламинация, навивка пружины
			a._link(href="#")
				._icon-wrap
					img._icon(src="assets/images/catalog/4.png" alt="")
				._name книжная продукция
				._desc Методички, инструкции<br>Издание книг, тиражирование
			a._link(href="#")
				._icon-wrap
					img._icon(src="assets/images/catalog/5.png" alt="")
				._name календари
				._desc Квартальные, карманные<br>Индивидуальные календари
			a._link(href="#")
				._icon-wrap
					img._icon(src="assets/images/catalog/6.png" alt="")
				._name сувенирная продукция
				._desc Печать на кружках<br>Значки, магниты, ежедневники
			a._link(href="#")
				._icon-wrap
					img._icon(src="assets/images/catalog/7.png" alt="")
				._name фотоальбомы и дипломы
				._desc Разнообразие технологий<br>переплета продукции
			a._link(href="#")
				._icon-wrap
					img._icon(src="assets/images/catalog/8.png" alt="")
				._name пластиковые карты
				._desc Подарочная карта, дисконт<br>Бэджи с креплениями