mixin map()
	.map&attributes(attributes)
		._marker
			img._img(src="assets/images/facade.jpg" alt="")
			._name Оперативная полиграфия "Тираж"
			._address 355042, г. Ставрополь, ул. 50 лет ВЛКСМ, 24 б
			img._pointer(src="assets/images/marker-pointer.png" alt="")