mixin product-price()
	.product-price&attributes(attributes)
		table._table
			tr._tr
				th._th Тираж
				th._th Односторонние
				th._th Двухсторонние
			tr._tr
				td._td 100
				td._td 2.00 р.
				td._td 2.00 р.
			tr._tr
				td._td 300
				td._td 1.50 р.
				td._td 1.50 р.
			tr._tr
				td._td 500
				td._td 1.20 р.
				td._td 1.20 р.
			tr._tr
				td._td 1000
				td._td 1.10 р.
				td._td 1.10 р.
			tr._tr
				td._td 1500
				td._td 1.00 р.
				td._td 1.00 р.
			tr._tr
				td._td 2000
				td._td 0.95 р.
				td._td 0.95 р.
			tr._tr
				td._td 2500
				td._td 0.90 р.
				td._td 0.90 р.
			tr._tr
				td._td 3000
				td._td 0.85 р.
				td._td 0.85 р.
			tr._tr
				td._td 4000
				td._td 0.80 р.
				td._td 0.80 р.
		._note <span class="orange">Примечание.</span> При печати визиток на дизайнерских бумагах к стоимости добавляется цена выбранного типа бумаги