mixin schedule()
	.schedule&attributes(attributes)
		._title График работы
		._col
			._label Прием заказов:
			._text пн.-пт.: с 10:00 до 18:00 (перерыв c 12:00 до 13:00)
			._text сб.: выходной
			._text вс.: выходной
		._col
			._label Выдача заказов:
			._text пн.-пт.: с 10:00 до 18:00 (перерыв c 12:00 до 13:00)
			._text сб.: выходной
			._text вс.: выходной