mixin format-price()
	.format-price&attributes(attributes)
		._item
			._label Визитки 55х90 мм
			img._img(src="assets/images/format.jpg" alt="")
			._price от 200.00 Р.
		._item
			._label Визитки 55х90 мм
			img._img(src="assets/images/format.jpg" alt="")
			._price от 200.00 Р.
		._item
			._label Визитки 55х90 мм
			img._img(src="assets/images/format.jpg" alt="")
			._price от 200.00 Р.
		._item
			._label Визитки 55х85 мм (ЕВРО)
			img._img(src="assets/images/format.jpg" alt="")
			._price от 200.00 Р.
		._item
			._label Визитки 55х85 мм (ЕВРО)
			img._img(src="assets/images/format.jpg" alt="")
			._price от 200.00 Р.
		._item
			._label Визитки 55х85 мм (ЕВРО)
			img._img(src="assets/images/format.jpg" alt="")
			._price от 200.00 Р.
