mixin callback()
	.callback&attributes(attributes)
		._row
			._col
				a._link(href="tel:+78652724773") <span class="orange">+7 8652</span> 72-47-73
				a._link(href="tel:+78652315311") <span class="orange">+7 8652</span> 31-53-11
			img._icon(src="assets/images/phone.png" alt="")
		button._button(type="button") заказать звонок