mixin usp()
	.usp&attributes(attributes)
		._content
			._title гарантия лучшей <span class="panton-black">цены</span>
			._text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.