mixin paper-density()
	.paper-density&attributes(attributes)
		._label Плотность
		._container
			+radio-button('density', 'density-1', '120', 'checked')(class="paper-density__radio")
			+radio-button('density', 'density-2', '130')(class="paper-density__radio")
			+radio-button('density', 'density-3', '140')(class="paper-density__radio")
			+radio-button('density', 'density-4', '150')(class="paper-density__radio")
			+radio-button('density', 'density-5', '160')(class="paper-density__radio")
			+radio-button('density', 'density-6', '170')(class="paper-density__radio")
			+radio-button('density', 'density-7', '180')(class="paper-density__radio")
			+radio-button('density', 'density-8', '190')(class="paper-density__radio")
			+radio-button('density', 'density-9', '200')(class="paper-density__radio")
			+radio-button('density', 'density-10', '210')(class="paper-density__radio")
			+radio-button('density', 'density-11', '220')(class="paper-density__radio")
			+radio-button('density', 'density-12', '230')(class="paper-density__radio")
			+radio-button('density', 'density-13', '240')(class="paper-density__radio")
			+radio-button('density', 'density-14', '250')(class="paper-density__radio")
			+radio-button('density', 'density-15', '260')(class="paper-density__radio")
			+radio-button('density', 'density-16', '270')(class="paper-density__radio")
			+radio-button('density', 'density-17', '280')(class="paper-density__radio")
			+radio-button('density', 'density-18', '290')(class="paper-density__radio")