mixin product-slider()
	.product-slider&attributes(attributes)
		._slider
			a._link(href="assets/images/product/full-1.jpg" data-fancybox="product")
				img._img(src="assets/images/product/full-1.jpg" alt="")
			a._link(href="assets/images/product/full-1.jpg" data-fancybox="product")
				img._img(src="assets/images/product/full-1.jpg" alt="")
			a._link(href="assets/images/product/full-1.jpg" data-fancybox="product")
				img._img(src="assets/images/product/full-1.jpg" alt="")
			a._link(href="assets/images/product/full-1.jpg" data-fancybox="product")
				img._img(src="assets/images/product/full-1.jpg" alt="")
		._pager
			a._pager-link(href="" data-slide-index="0")
				img._thumb(src="assets/images/product/thumb-1.jpg" alt="")
			a._pager-link(href="" data-slide-index="1")
				img._thumb(src="assets/images/product/thumb-1.jpg" alt="")
			a._pager-link(href="" data-slide-index="2")
				img._thumb(src="assets/images/product/thumb-1.jpg" alt="")
			a._pager-link(href="" data-slide-index="3")
				img._thumb(src="assets/images/product/thumb-1.jpg" alt="")