mixin social()
	.social&attributes(attributes)
		._list
			a._link(href="vk.com")
				img._icon(src="assets/images/social/vk.png" alt="")
			a._link(href="facebook.com")
				img._icon(src="assets/images/social/facebook.png" alt="")
			a._link(href="twitter.com")
				img._icon(src="assets/images/social/twitter.png" alt="")