mixin calculator()
	.calculator&attributes(attributes)
		+format()
		+hr()
		+edition()(class="calculator__edition")
		+hr()
		+color()(class="calculator__color")
		+hr()
		+paper()(class="calculator__paper")
		+hr()
		+perforation()(class="calculator__perforation")
		+hr()
		+numeration()(class="calculator__numeration")
		+hr()
		+lamination()(class="calculator__lamination")
		+hr()
		+thickness()(class="calculator__thickness")