
include ../../blocks/header/header
include ../../blocks/navbar/navbar
include ../../blocks/sign-in/sign-in
include ../../blocks/search/search
include ../../blocks/nav/nav
include ../../blocks/logo/logo
include ../../blocks/address/address
include ../../blocks/callback/callback
include ../../blocks/cart/cart
include ../../blocks/catalog-nav/catalog-nav
include ../../blocks/banner/banner
include ../../blocks/usp/usp
include ../../blocks/catalog/catalog
include ../../blocks/portfolio-slider/portfolio-slider
include ../../blocks/map/map
include ../../blocks/about/about
include ../../blocks/reviews-slider/reviews-slider
include ../../blocks/news-slider/news-slider
include ../../blocks/news-item/news-item
include ../../blocks/reviews-item/reviews-item
include ../../blocks/more/more
include ../../blocks/copyright/copyright
include ../../blocks/footer/footer
include ../../blocks/schedule/schedule
include ../../blocks/subscribe/subscribe
include ../../blocks/payment/payment
include ../../blocks/social/social
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/title/title
include ../../blocks/calculator/calculator
include ../../blocks/subtitle/subtitle
include ../../blocks/help/help
include ../../blocks/radio-button/radio-button
include ../../blocks/calculator-order/calculator-order
include ../../blocks/input/input
include ../../blocks/format-size/format-size
include ../../blocks/radio/radio
include ../../blocks/paper-density/paper-density
include ../../blocks/button/button
include ../../blocks/format/format
include ../../blocks/format-standart/format-standart
include ../../blocks/edition/edition
include ../../blocks/color/color
include ../../blocks/paper/paper
include ../../blocks/perforation/perforation
include ../../blocks/numeration/numeration
include ../../blocks/lamination/lamination
include ../../blocks/thickness/thickness
include ../../blocks/hr/hr
include ../../blocks/format-price/format-price
include ../../blocks/prepare-layout/prepare-layout
include ../../blocks/product-slider/product-slider
include ../../blocks/product-info/product-info
include ../../blocks/product-cost/product-cost
include ../../blocks/product-detail/product-detail
include ../../blocks/product-edition/product-edition
include ../../blocks/product-paper/product-paper
include ../../blocks/product-side/product-side
include ../../blocks/product-color/product-color
include ../../blocks/file-upload/file-upload
include ../../blocks/product-price/product-price
include ../../blocks/product-material/product-material
include ../../blocks/watched/watched
include ../../blocks/product-item/product-item