mixin banner()
	.banner&attributes(attributes)
		._slider
			._item
				._content
					h1._title Печатная продукция с тиснением фольгой
					._text Такие надписи устойчивы к истиранию, поэтому изделия долго сохраняют первоначальный вид.
			._item
			._item
		+usp()