mixin prepare-layout()
	.prepare-layout&attributes(attributes)
		h1._title Особенности, которые необходимо учитывать при подготовке макета
		h2._subtitle ФОРМАТ
		p._text Стандартный формат печатного листа (SRA3) 320x450 мм, максимальный размер запечатываемого поля 314х444 мм. 
		p._text Максимально возможный формат печатного листа 330х480 мм (используется очень редко!), максимальный размер запечатываемого поля 324х474 мм.
		h2._subtitle ЭЛЕКТРОННЫЕ НОСИТЕЛИ
		p._text Макеты принимаются по электронной почте op-t@mail.ru или в офисе на USB-накопителях или CD/DVD дисках. Кроме макетов в печать, на носителях не должно быть никакой информации.
		h2._subtitle ОПИСАНИЕ ЗАКАЗА
		p._text Заказ описывается подробно, с указанием имени файла (если их несколько), размера, цветности, количества, типа бумаги, дополнительных работ (послепечатной обработки) и сроков, а так же контактной информации для связи в случае возникновения вопросов.
		._example Например:
		p._text "Визитки 90х50 мм, 4+4, 100 шт, бумага мелованная 300 грамм, ламинирование 150 mic, скругление 4 углов, завтра к 16-00. Тел.: ..."
		p._text Если у Вас срочный заказ, напишите в теме письма "СРОЧНО", чтобы мы быстрее обратили на него внимание.
		h2._subtitle ВЕРСТКА
		p._text Располагайте макет по центру листа. Размер монтажной области должен быть равен обрезному формату макета + по 2 мм со всех сторон. Оборот кладите на следующий лист, а не рядом с лицом.
		h2._subtitle "ВЫЛЕТ ПОД ОБРЕЗ"
		p._text Если какой-либо элемент верстки подходит к краю ближе, чем на 3 мм, то он должен быть выпущен за обрез ("вылет под обрез"). Вынос за обрезной формат должен быть 2 мм, для многостраничных изданий – 3 мм.
		h2._subtitle ШРИФТ
		p._text Перед отправкой макета, пожалуйста, убедитесь, что все шрифты переведены в "кривые". Хорошо читаемым текст получается обычно не менее 6pt. Технически возможно напечатать текст и меньшего размера - перед печатью лучше проконсультируйтесь с нами.
		h2._subtitle ЦВЕТ
		p._text В векторных макетах черный цвет ЧИСТЫЙ C-M-Y-K: 0-0-0-100. Для растровых макетов составной цвет суммарно не более 320%. Рекомендуем для верстки и просмотра использовать модель CMYK - U.S. Web Coated (SWOP) v2.
		h2._subtitle РАЗРЕШЕНИЕ
		p._text.panton-bold Для растровых макетов и рисунков внутри векторных макетов:
		ul._list
			li._item разрешение должно составлять 300 dpi (точек на дюйм)
			li._item масштаб 100%!
			li._item векторные эффекты теней и т.п. должны быть растрированы!
		h2._subtitle ФОЛЬГИРОВАНИЕ
		p._text Макеты принимаются только в формате .cdr, шрифты в кривых. Все элементы под фольгирование должны быть100% Black (C-M-Y-K: 0-0-0-100). Минимальная толщина линий любых элементов должна быть не менее 0,2 мм.
		h2._subtitle ПАРАМЕТРЫ ФАЙЛОВ ДЛЯ СОХРАНЕНИЯ
		p._text <span class="panton-bold">Photoshop</span> - расширение или формат: *.TIFF, *.PSD, *.JPEG - модель CMYK, слои слиты, 300 dpi.
		p._text <span class="panton-bold">CorelDraw</span> - версия программы X5 и ниже, расширение или формат: .cdr
		p._text <span class="panton-bold">Illustrator и InDesign</span> - PDF - без сжатия, шрифты в кривых.
		h2._subtitle MICROSOFT OFFICE
		p._text Макеты, созданные средствами пакета Microsoft Office (Word, PowerPoint, Publisher и т.д.) - к печати не принимаются. В этих программах начиная с версии Microsoft Office 2007 есть возможность сохранить файл в формате PDF - такой формат приемлем для печати.
		figure._figure
			figcaption._figcaption ПРИМЕР ПОДГОТОВКИ МАКЕТА С НЕОБХОДИМЫМИ ОТСТУПАМИ ПОД ОБРЕЗ И РАСПОЛОЖЕНИЕМ ЭЛЕМЕНТОВ
			img._img(src="assets/images/layout.jpg" alt="")