mixin product-color()
	.product-color&attributes(attributes)
		._label Цветность бумаги
		._container
			+radio-button('color', 'color-1', '<img src="assets/images/color/1.png" alt="">', 'checked')(class="product-color__radio")
			+radio-button('color', 'color-2', '<img src="assets/images/color/2.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-3', '<img src="assets/images/color/3.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-4', '<img src="assets/images/color/4.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-5', '<img src="assets/images/color/5.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-6', '<img src="assets/images/color/6.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-7', '<img src="assets/images/color/7.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-8', '<img src="assets/images/color/8.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-9', '<img src="assets/images/color/9.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-10', '<img src="assets/images/color/10.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-11', '<img src="assets/images/color/11.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-12', '<img src="assets/images/color/12.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-13', '<img src="assets/images/color/13.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-14', '<img src="assets/images/color/14.png" alt="">')(class="product-color__radio")
			+radio-button('color', 'color-15', '<img src="assets/images/color/15.png" alt="">')(class="product-color__radio")