mixin format-standart()
	.format-standart&attributes(attributes)
		+radio-button('standart', 'standart-1', 'стандартный', 'checked')(class="format-standart__radio")
		+radio-button('standart', 'standart-2', 'нестандартный')(class="format-standart__radio")