mixin reviews-slider()
	.reviews-slider&attributes(attributes)
		._container
			._col
				+title('отзывы клиентов')(class="reviews-slider__title")
				._slider
					+reviews-item('Фомин О. Е.', '1.jpg', 'Генеральный директор ОАО «Мари-турекское ремонтно-техническое предприятие»', 'За период нашей совместной работы Вы проявили себя очень надежным партнером. Высокая оперативность решения рабочих вопросов, а также своевременное выполнение обязательств.')
					+reviews-item('Каренина А. Л.', '2.jpg', 'Генеральный директор ОАО «РЖД»', 'За период нашей совместной работы Вы проявили себя очень надежным партнером. Высокая оперативность решения рабочих вопросов, а также своевременное выполнение обязательств.')
					+reviews-item('Мелехов Н. П.', '3.jpg', 'Главный менеджер ОАО «Ультрамарин»', 'За период нашей совместной работы Вы проявили себя очень надежным партнером. Высокая оперативность решения рабочих вопросов, а также своевременное выполнение обязательств.')
				+more('Все отзывы', 'reviews.html')(class="reviews-slider__more")
			+news-slider()(class="reviews-slider__news-slider")